{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="my-4">ویرایش ساعت‌های کاری</h1>

    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.day.id_for_label }}">روز هفته</label>
            {{ form.day }}
        </div>
        <div class="form-group">
            <label for="{{ form.morning_start.id_for_label }}">شروع صبح</label>
            {{ form.morning_start }}
        </div>
        <div class="form-group">
            <label for="{{ form.morning_end.id_for_label }}">پایان صبح</label>
            {{ form.morning_end }}
        </div>
        <div class="form-group">
            <label for="{{ form.evening_start.id_for_label }}">شروع عصر</label>
            {{ form.evening_start }}
        </div>
        <div class="form-group">
            <label for="{{ form.evening_end.id_for_label }}">پایان عصر</label>
            {{ form.evening_end }}
        </div>

        <button type="submit" class="btn btn-warning">ذخیره تغییرات</button>
        <a href="{% url 'contact:detail_workinghours' working_hours.id %}" class="btn btn-secondary">بازگشت به لیست</a>
    </form>
</div>


{% endblock %}