{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">افزودن کلینیک جدید</h2>

    <div class="card p-4 shadow-sm">
        <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            
            {{form.as_p}}

            <button type="submit" class="btn btn-primary">ثبت کلینیک</button>
            <a href="{% url 'core:manage' %}" class="btn btn-secondary">بازگشت</a>
        </form>
    </div>
</div>

<!-- استایل سفارشی -->
<style>
    .container {
        max-width: 600px;
        margin: auto;
    }
    .card {
        background: #fff;
        border-radius: 10px;
    }
    .form-label {
        font-weight: bold;
    }
</style>

{% endblock %}
