<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home:home' %}">خانه</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'about:about' %}">درباره ما</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'blog:blog' %}">وبلاگ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'service:service' %}">خدمات</a>
        </li>
        <!-- {% if user.is_authenticated and user.is_doctor or user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'core:category' %}">مدیریت دسته بندی</a>
        </li>
        {% endif %} -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">گالری</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">مشاوره</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">نوبت دهی</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">ثبت نام/ورود</a>
        </li> -->
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>