{% extends "base.html" %}

{% block content %}
    <h2>تنظیم مجدد رمز عبور</h2>
    {% if validlink %}
        <p>لطفاً رمز عبور جدید خود را وارد کنید:</p>
        <form method="post"novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">ذخیره رمز عبور جدید</button>
        </form>
    {% else %}
        <p>لینک معتبر نیست یا منقضی شده است. لطفاً مجدداً درخواست بازیابی رمز عبور دهید.</p>
    {% endif %}

    <a href="{% url 'accounts:doctor_login' %}">بازگشت به صفحه ورود</a>
{% endblock %}
